<p *ngIf="(authStateService.authState$ | async)?.isAuthenticated" class="text-center">{{ getSelectedCity() }} | {{ user?.name }} | {{ todayDate | date:'fullDate'}}
  <a (click)="authService.openOSSAPP()" *ngIf="!checkIsOSSApp()" ><button>OSS Main Menu</button></a>
</p>