.view-documents{
    height: calc(100vh - 180px);
    .categories {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }
    .case-details{
        border: 1px solid;
        .title{
            font-size: 10px;
            border: 1px solid #000000;
            font-weight: bold;
            padding: 2px;
            background-color: rgb(74, 175, 221);
        }
        button{
            font-size: 10px;
            padding: 0 5px;
        }

        .main-content{
            p{
                font-size: 12px;
                margin: 0;
                padding: 2px;
            }
        }
    }
    .accordion-section{
        .accordion-header{
            background-color: rgb(91, 189, 247);
            p{
                border: 1px solid black;
            }
        }
        .document {
            background-color: transparent;
            transition: background-color .2s linear;
            &:hover {
                background: #5bbdf7;
            }
        }
    }
}
