<app-path></app-path>
<button (click)="acquireImage()" >Scan</button>
<section class="view-documents row m-0">
    <div class="col-4 m-0 p-0 categories border">
        <article class="case-details">
            <div class="title d-flex justify-content-between">
                <span>Case Details</span>
                <button type="button">View Comments</button>
            </div>
            <div class="main-content">
                <p>Case Number: {{ caseDetail?.caseNumber }}</p>
                <p>Case Name: {{ caseDetail?.caseName }}</p>
                <p>Case Type: {{ caseDetail?.caseType }}</p>
            </div>
        </article>
        <article class="case-details mt-1">
            <div class="title d-flex justify-content-between">
                <span>Filter Document List</span>
                <div>
                    <button type="button">Refresh</button>
                    <button type="button">Clear</button>
                </div>
            </div>
            <div class="main-content">
                <div class="d-flex row m-1">
                    <p class="col-7 p-0">Begin Date (mm/dd/yyyy):</p>
                    <input class="col p-0" type="text" pInputText />
                </div>
                <div class="d-flex row m-1">
                    <p class="col-7 p-0">End Date (mm/dd/yyyy):</p>
                    <input class="col p-0" type="text" pInputText />
                </div>
            </div>
        </article>
        <article class="accordion-section">
            <div class="p-py-3">
                <p-button (click)="toggle(0)" styleClass="p-button-text border m-2" label="Expand all"></p-button>
                <p-button (click)="toggle(1)" styleClass="p-button-text border m-2" label="Collapse all"></p-button>
            </div>
            <div class="accordion-header d-flex m-0 row">
                <p class="col-6 p-1 m-0">Doc Category / Doc Type</p>
                <p class="col-3 p-1 m-0">Pages</p>
                <p class="col-3 p-1 m-0">Index Date</p>
            </div>
            <p-accordion>
                <p-accordionTab *ngFor="let category of categories,let i = index" 
                    [header]="category.title" [(selected)]="activeState[i]" 
                    (click)="onAccordionHeaderClick(category)"
                >
                    <div class="document pl-4 py-2" *ngFor="let document of documents,let j = index">
                        <div class="d-flex m-0 row" (click)="getPdfViewer(document)">
                            <p class="col-6 p-1 m-0">{{document.docType}}</p>
                            <p class="col-3 p-1 m-0">{{document.pages}}</p>
                            <p class="col-3 p-1 m-0">{{document.indexDate ? (document.indexDate | date : 'MM/dd/yyyy') : ''}}</p>
                        </div>
                    </div>
                </p-accordionTab>
                <!-- <p-accordionTab header="01 Permanent" [(selected)]="activeState[1]">
                    <div class="d-flex m-0 row">
                        <p class="col-6 p-1 m-0">Citizenship Document</p>
                        <p class="col-3 p-1 m-0">1</p>
                        <p class="col-3 p-1 m-0">12/30/2012</p>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="02 Applications / Recertification / Authorizations" [(selected)]="activeState[2]">
                    <div class="d-flex m-0 row">
                        <p class="col-6 p-1 m-0">Citizenship Document</p>
                        <p class="col-3 p-1 m-0">1</p>
                        <p class="col-3 p-1 m-0">12/30/2012</p>
                    </div>
                </p-accordionTab> -->
            </p-accordion>
        </article>
    </div>
    <div class="col-8 pr-0">
        <ngx-extended-pdf-viewer
            *ngIf="pdfSrc"
            [src]="pdfSrc"
            [useBrowserLocale]="true"
            [textLayer]="true"
            [showHandToolButton]="true"
            [showPresentationModeButton]="true"
            [showDownloadButton]="false"
        ></ngx-extended-pdf-viewer>
        <img *ngIf="imgSrc" height="100%" width="100%" [src]="imgSrc">
    </div>

</section>
