<header class="topbar static-top shadow d-flex justify-content-between align-items-center row m-0 py-2 px-4">
    <section class="col p-0">
      <span routerLink="/" style="cursor: pointer;" >
        <img src=".//assets/logo.jpeg">
      </span>
      <p class="ml-5" style="font-size: 14px;">Office of Temporary and Disability Assistance</p>
    </section>
    <aside class="d-flex flex-column align-items-center justify-content-between col-4 p-0">
      <p class="m-0" style="color: #fcfcd4;">
        {{ isOSS ? 'Onsite Scanning' : 'Imaging and Enterprise Document Repository' }}
        </p>
        <ng-container *ngIf="!isOSS">
          <ul class="p-0 d-flex justify-content-between w-75 m-0 text-decoration-underline">
            <li class="py-2 cursor-pointer" routerLink="/home">
              <span>Home</span>
            </li>
            <li class="py-2 cursor-pointer">
              <span>Contact Us</span>
            </li>
            <li class="py-2 cursor-pointer" *ngIf="!(authStateService.authState$ | async)?.isAuthenticated" (click)="login()"> <span>Login</span></li>
            <li class="py-2 cursor-pointer" *ngIf="(authStateService.authState$ | async)?.isAuthenticated" (click)="logout()"><span>Logout</span></li>
          </ul>
        </ng-container>
        <ng-container *ngIf="isOSS">
          <ul class="p-0 d-flex justify-content-end w-75 m-0 text-decoration-underline">
            <li class="py-2 cursor-pointer" (click)="closeWindow()" >
              <span>Close OSS</span>
            </li>
          </ul>
        </ng-container>
    </aside>
</header>