header{
  height: 80px;
  background-color: #305D93;
  color: white;
  button {
    color: white;
    &:focus {
      outline:none;
      box-shadow: none;
    }
  }
  .dropdown-toggle::after{
    display: none;
  }
  .dropdown-menu {
    .dropdown-item {
      color: black;
    }
  }
}
