.main-container{
    .case-comments{
        border: 2px solid;

        .title{
            font-weight: bolder;
            background-color: rgb(0, 174, 255);
            text-align: left;
        }
    }
    .details{
       .case-details{
           .title{
                font-weight: bolder;
                background-color: rgb(0, 174, 255);
                text-align: left;
                border: 1px solid;
                margin: 1px 1px 0 0;
           }
       } 
       .date-range-filter{
            .title{
                font-weight: bolder;
                background-color: rgb(0, 174, 255);
                text-align: left;
                border: 1px solid;
                margin: 1px 0 0 0;
            }

            aside{
                border: 1px solid #000000;
            }
       }
    }

    .editor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        padding: 20px;
    }
}