<app-path></app-path>
<p>Case comments</p>
<section class="main-container">
  <article class="case-comments">
    <p class="title">Retrieve Comments by</p>
    <div class="comments-by d-flex flex-column align-items-center">
      <ng-container>
        <div class="d-flex flex-column">
          <label class="mx-3">Case Number: </label>
          <input type="text" pInputText />
        </div>
        <p class="my-2">- or -</p>
        <div class="d-flex flex-column">
          <label class="mx-3"> App/Reg Number: </label>
          <input type="text" pInputText />
        </div>
      </ng-container>
      <aside class="my-4">
        <button type="button" class="btn btn-secondary mx-2" (click)="showComments('view')">VIEW</button>
        <button type="button" class="btn btn-secondary mx-2" (click)="showComments('new')">NEW</button>
        <button type="button" class="btn btn-secondary mx-2">PRINT</button>
        <button type="button" class="btn btn-secondary mx-2">BACK</button>
        <button type="button" class="btn btn-secondary mx-2">Refresh</button>
        <button type="button" class="btn btn-secondary mx-2">Clear</button>
      </aside>
    </div>
  </article>

  <article class="details row m-0">
    <div class="case-details col-6 p-0">
      <p class="title">Case Details</p>
    </div>
    <div class="date-range-filter col-6 p-0">
      <p class="title">Apply Date Range Filter</p>

      <aside class="py-3">
        <div class="d-flex row m-1">
          <p class="col-5 p-0">Begin Date (mm/dd/yyyy):</p>
          <!-- <input class="col-4 p-0" type="text" pInputText /> -->
          <div class="col-4 p-0">
            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue1">
          </div>
        </div>
        <div class="d-flex row m-1">
          <p class="col-5 p-0">End Date (mm/dd/yyyy):</p>
          <div class="col-4 p-0">
            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue2">
          </div>
        </div>
      </aside>
    </div>
  </article>

  <div class="w-100 my-5" *ngIf="activeSection == 'view'">
    <div class="card w-100">
      <div class="commentbox w-100 row m-0">
        <div class="col-12 col-sm-12 header">
          <h4>Comments ({{count}})</h4>
        </div>
        <div class="col-12 col-sm-12 body">
          <div class="comment-container">
            <div class="comment-form">
              <app-commentbox (usercomment)="receiveComment($event)"></app-commentbox>
            </div>
          </div>
        </div>
      </div>
      <app-comments [postComment]="comments" (countComments)="recieveCount($event)"></app-comments>
    </div>
  </div>

  <div class="w-100 my-5 editor" *ngIf="activeSection == 'new'">
    <!-- <tx-document-editor
      width="100%"
      height="600px"
      class="border"
      webSocketURL="wss://backend.textcontrol.com?access-token=lS4a2273Vr6mZIGpWLrr">
    </tx-document-editor> -->
    <ckeditor style="width:'100%';" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
    <div class="my-3">
      <!-- <button type="button" class="btn btn-outline-primary" (click)="onClickSave()">Save Document as PDF</button> -->
    </div>
  </div>
</section>