
  <app-path></app-path>
  <article class="main-container text-center w-100">
  <section>
    <h2>Reports Menu</h2>
  </section>
  <div class="row m-2 w-100 items-container">
    <div class="col-12 d-flex border p-3">
      <div class="col-12 text-left">
        <h4>Operational Reports</h4>
        <ul>
          <li><button routerLink="district-summary-report">District Summary</button></li>
          <li> Activity Reports
            <ul class="child-level">
              <li><button routerLink="user-activity-summary-report">User Activity Summary Report</button></li>
              <li><button routerLink="user-activity-event-summary-report">User Activity Event Summary Report</button></li>
              <li><button routerLink="user-activity-detail-report">User Activity Detail Report</button></li>
            </ul>
          </li>
          <li><button routerLink="user-error-and-exception-report">User Error And Exception</button></li>
        </ul>
      </div>
    </div>
  </div>
</article>