<article class="main-container text-center w-100">
  <div class="row m-2 w-100 menu-items-container">
    <div class="col-12 d-flex border p-3">
      <div class="col-4 text-left">
        <ul>
          <li><button [routerLink]="'/home'" >I/EDR Main Menu</button></li>
          <li><button (click)="authService.openOSSAPP()" >OSS Main Menu</button></li>
        </ul>
      </div>
    </div>
  </div>
</article>