<div class="modal-header">
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row m-0">
    <div class="col-12 p-0" style="min-height: 600px; min-width: 700px;">
      <ngx-extended-pdf-viewer
          *ngIf="pdfSrc"
          [src]="pdfSrc"
          [useBrowserLocale]="true"
          [textLayer]="true"
          [showHandToolButton]="true"
          [showPresentationModeButton]="true"
          [showDownloadButton]="false"
      ></ngx-extended-pdf-viewer>
        <img *ngIf="imgSrc" height="100%" width="100%" [src]="imgSrc">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="submit()">
    <span>Upload</span>
  </button>
</div>
