
  <!-- <p class="path">Path: <a href=''> HOME </a> >  <a href='/edr-reports'> I/EDR REPORTS </a>  > <span> {{ title | uppercase}} PARAMETERS</span> </p> -->
  <app-path></app-path>
  <article class="main-container text-center w-100">
  <section>
    <h4>User Activity Event Summary Report</h4>
  </section>
  <div class="row m-2 w-100 items-container">
    <div class="col-12 d-flex border p-3 d-flex justify-content-center">

      <aside class="col-12 col-md-8 col-lg-6 col-xl-5 py-3">
        <div class="d-flex row justify-content-center align-items-center m-1 col-12">
          <label class="col-3 text-left p-0">District/Site:<span class="text-danger">*</span> </label>
          <div class="col-4 p-0">
            <app-dropdown [items]="districtArray" [selectedItem]="selectedCity" (getSelectedValue)="selectDistrict($event)"></app-dropdown>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center row m-1 col-12">
          <p class="col-3 text-left p-0">Begin Date:<span class="text-danger">*</span> </p>
          <div class="col-4 p-0">
            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="reportsData.startDate">
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center row m-1 col-12">
          <p class="col-3 text-left p-0">End Date:<span class="text-danger">*</span></p>
          <div class="col-4 p-0">
            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="reportsData.endDate">
          </div>
        </div>
        <div class="d-flex row justify-content-center align-items-center m-1 col-12">
          <label class="col-3 text-left p-0">Event Type: <span class="text-danger">*</span> </label>
          <div class="col-4 p-0">
            <!-- <p-dropdown [options]="eventTypes" optionLabel="name" class="w-100 d-flex" [(ngModel)]="reportsData.eventType"></p-dropdown> -->
            <app-dropdown [items]="eventTypes" [selectedItem]="reportsData.eventType" (getSelectedValue)="selectValue($event, 'eventType')"></app-dropdown>
          </div>
        </div>
        <p class="text-danger"> * Indicates A Required Field</p>
        <!-- <button type="button" class="btn btn-primary my-2" (click)="submit()" routerLink="reports-details">SUBMIT</button> -->
        <button type="button" class="btn my-2" [ngClass]="validate ? 'btn-primary' : 'btn-secondary disabled'" (click)="submit()" routerLink="reports-details">SUBMIT</button>
      </aside>
      
    </div>
  </div>
</article>