<article class="main-container text-center w-100">
  <div class="row m-2 w-100">
    <h3>OSS Main Menu</h3>
    <div class="row m-2 w-100 menu-items-container">
      <div class="col-12 d-flex border p-3">
        <div class="col-4 text-left">
          <ul>
            <input #fileUpload style="display: none" type="file" name="scanFile" id="scanFile" (change)="onFileChange($event)" />
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="fileUpload.click()" 
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}">File Upload</button></li>
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="authService.openOSSAPP('/scanning')" 
                [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}">Scanning</button></li>
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="authService.openOSSAPP('/batch-retrieval')" 
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}" >Indexing</button></li>
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="authService.openOSSAPP('/reporting')"
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}" >Reporting</button></li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</article>

