<app-path></app-path>
<article class="main-container text-center w-100">
  <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
    <aside class="border details d-flex justify-content-center align-items-center mx-5 py-2">
      <label class="mx-3">Case Number: </label>
      <input type="text" pInputText [(ngModel)]="caseNumber" (ngModelChange)="onChangeEvent($event)" />
    </aside>
  <button type="button" class="btn my-2" [ngClass]="validate ? 'btn-primary' : 'btn-secondary disabled'"
    (click)="submit()">CONTINUE</button>

</article>