<app-path></app-path>
<article class="main-container text-center w-100">
  <aside class="border details d-flex justify-content-center align-items-center mx-5 py-2">
    <label class="mx-3">Select Auditor Id: </label>
    <app-dropdown [items]="filteredAuditorList" [selectedItem]="selectedAuditor" (getSelectedValue)="selectAuditor($event)"></app-dropdown>
  </aside>
  <button type="button" class="btn my-2" [ngClass]="validate ? 'btn-primary' : 'btn-secondary disabled'"
    (click)="submit()">CONTINUE</button>

</article>