<app-path></app-path>
<section>
  <h4>OSS Scanning Event Detail Report</h4>
  <article class="border">
    <h6 class="mb-3 p-1">Enter Scanning Event Detail Report Criteria</h6>
    <form [formGroup]="districtSummaryForm" class="row m-0 r-0" (ngSubmit)="onSubmit()">

      <article class="col-12 d-flex">
        <div class="form-group col-3 d-flex align-items-center">
          <p class="col-4 text-left p-0 m-0">Begin Date: </p>
          <div class="col-8 p-0 m-0">
            <input type="text" formControlName="beginDate" class="form-control w-100" #dp="bsDatepicker" bsDatepicker>
            <div *ngIf="submitted && f['beginDate'].errors" class="invalid-feedback d-flex justify-content-center">
              <div *ngIf="f['beginDate'].errors['required']">Begin Date is required</div>
            </div>
          </div>
        </div>
        <div class="form-group col-3 d-flex align-items-center">
          <p class="col-4 text-left p-0 m-0">End Date: </p>
          <div class="col-8 p-0 m-0">
            <input type="text" formControlName="endDate" class="form-control w-100" #dp="bsDatepicker" bsDatepicker>
            <div *ngIf="submitted && f['endDate'].errors" class="invalid-feedback d-flex justify-content-center">
              <div *ngIf="f['endDate'].errors['required']"> End Date is required</div>
            </div>
          </div>
        </div>
        <div class="form-group col-3 d-flex align-items-center">
          <p class="col-4 text-left p-0 m-0">User Id: </p>
          <div class="col-8 p-0 m-0">
            <input type="text" formControlName="userId" class="form-control w-100">
            <div *ngIf="submitted && f['userId'].errors" class="invalid-feedback d-flex justify-content-center">
              <div *ngIf="f['userId'].errors['required']"> User Id is required</div>
            </div>
          </div>
        </div>
        <div class="form-group col-3 d-flex align-items-center">
          <p class="col-4 text-left p-0 m-0">User Name: </p>
          <div class="col-8 p-0 m-0">
            <input type="text" formControlName="userName" class="form-control w-100">
            <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback d-flex justify-content-center">
              <div *ngIf="f['userName'].errors['required']"> User Name is required</div>
            </div>
          </div>
        </div>
      </article>
      <div class="form-group col-12 d-flex justify-content-center">
        <button class="btn btn-primary">
          Retrieve Records
        </button>
        <button class="btn btn-primary ml-2">
          Reset Criteria
        </button>
      </div>
    </form>
  </article>


  <div *ngIf="showTable" class="table border mt-3">
    <p-table styleClass="report-table" [value]="allEventTypes" [paginator]="true" [rows]="rows"
      [showCurrentPageReport]="true" [(first)]="first" (onSort)="sortColumn($event)"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10,25,50]" id="excel-table">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="item" *ngFor="let item of keyData">
            {{item}} <p-sortIcon [field]="item"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event>
        <tr>
          <td *ngFor="let item of keyData">{{event[item]}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="mb-3 border-0 footer">
      <button type="button" class="btn btn-secondary mx-2" (click)="exportexcel()">EXPORT TO EXCEL</button>
      <button type="button" class="btn btn-secondary mx-2" (click)="printTest()">PRINT</button>
    </div>
  </div>
</section>