<app-path></app-path>
<section>
  <h4>OSS Batch Retrieval for Indexing</h4>
  <article class="border">
    <h6 class="mb-3 p-1">Enter Scanned Batch Criteria</h6>
    <form [formGroup]="retrievalForm" class="row m-0 r-0" (ngSubmit)="onSubmit()">
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="case">Case#:</label>
        <input type="text" formControlName="case" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['case'].errors }" />
        <div *ngIf="submitted && f['case'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['case'].errors['required']">Case is required</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="scannedByType">Scanned by Type:</label>
        <input type="text" formControlName="scannedByType" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['scannedByType'].errors }" />
        <div *ngIf="submitted && f['scannedByType'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['scannedByType'].errors['required']">Scanned Type is required</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="indexerSelected">Indexer Selected:</label>
        <input type="text" formControlName="indexerSelected" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['indexerSelected'].errors }" />
        <div *ngIf="submitted && f['indexerSelected'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['indexerSelected'].errors['required']">Indexer Selected is required</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="cin">CIN:</label>
        <input type="text" formControlName="cin" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['cin'].errors }" />
        <div *ngIf="submitted && f['cin'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['cin'].errors['required']">CIN is required</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="scannedByUserId">Scanned by User Id:</label>
        <input type="text" formControlName="scannedByUserId" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['scannedByUserId'].errors }" />
        <div *ngIf="submitted && f['scannedByUserId'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['scannedByUserId'].errors['required']">ScannedByUserId is required</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="batchName">Batch Name:</label>
        <input type="text" formControlName="batchName" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['batchName'].errors }" />
        <div *ngIf="submitted && f['batchName'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['batchName'].errors['required']">Batch Name is required</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="app/reg">App/Reg#:</label>
        <input type="text" formControlName="app/reg" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['app/reg'].errors }" />
        <div *ngIf="submitted && f['app/reg'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['app/reg'].errors['required']">App/Reg is required</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="m-0 px-1 py-2 text-right col-6" for="scannedByUserName">Scanned by User Name:</label>
        <input type="text" formControlName="scannedByUserName" class="form-control float-right col-6 w-100"
          [ngClass]="{ 'is-invalid': submitted && f['scannedByUserName'].errors }" />
        <div *ngIf="submitted && f['scannedByUserName'].errors" class="invalid-feedback d-flex justify-content-end">
          <div *ngIf="f['scannedByUserName'].errors['required']">ScannedByUserName is required</div>
        </div>
      </div>



      <div class="col-12 d-flex align-items-center flex-column mx-5">
        <label class="m-0 px-1 py-2 col-4" for="date">Scanned Date Range:</label>
        <article class="col-4 d-flex">
          <div class="form-group col-6 d-flex align-items-center">
            <p class="col-4 text-left p-0 m-0">From: </p>
            <div class="col-8 p-0 m-0">
              <input type="text" formControlName="fromScannedDate" class="form-control w-100" #dp="bsDatepicker" bsDatepicker>
              <div *ngIf="submitted && f['fromScannedDate'].errors" class="invalid-feedback d-flex justify-content-center">
                <div *ngIf="f['fromScannedDate'].errors['required']"> Date is required</div>
              </div>
            </div>
          </div>
          <div class="form-group col-6 d-flex align-items-center">
            <p class="col-3 text-left p-0 m-0">To: </p>
            <div class="col-9 p-0 m-0">
              <input type="text" formControlName="toScannedDate" class="form-control w-100" #dp="bsDatepicker" bsDatepicker>
              <div *ngIf="submitted && f['toScannedDate'].errors" class="invalid-feedback d-flex justify-content-center">
                <div *ngIf="f['toScannedDate'].errors['required']"> Date is required</div>
              </div></div>
          </div>
        </article>
      </div>
      <div class="form-group col-12 d-flex justify-content-center">
        <button class="btn btn-primary">
          Retrieve Batches
        </button>
        <button class="btn btn-primary ml-2">
          Reset Criteria
        </button>
      </div>
    </form>
  </article>
</section>