<app-path></app-path>
<article class="main-container text-center w-100 row m-0 p-0">
  <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
  <p *ngIf="successMessage" class="text-success">{{successMessage}}</p>
  <aside class="border details col-md-8 offset-md-2 py-1">
    <section class="py-2 w-100 d-flex justify-content-around">
      <div class="d-flex align-items-center">
        <p class="text-left p-0 m-0">Start Date (mm/dd/yyyy): </p>
        <div class="p-0 ml-2">
          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="startDate">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <p class="text-left p-0 m-0">End Date (mm/dd/yyyy):</p>
        <div class="p-0 ml-2">
          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="endDate">
        </div>
      </div>
    </section>
    <section class="d-flex row mb-2 p-0 m-0">
      <div class="col-6 p-0">
        <h6>AUDITORS ID LIST</h6>
        <div class="revoke-auditor border col-12 d-flex flex-column align-items-center p-2">
          <textarea pInputTextarea class="col-6" style="height:180px" [(ngModel)]="newAuditor"></textarea>
        </div>
      </div>
      <div class="col-6 p-0">
        <h6>CASE ID LIST</h6>
        <div class="add-cases border col-12 d-flex flex-column justify-content-between align-items-center p-2">
          <textarea pInputTextarea class="col-6" style="height:180px" [(ngModel)]="newCases"></textarea>
          <p class="text-danger">*separate cases with a comma</p>
        </div>
      </div>
    </section>
  </aside>
  <div>
    <label class="mx-3">Select Function: </label>
    <button type="button" class="btn btn-primary m-2" (click)="continue()">CONTINUE</button>
    <button type="button" class="btn btn-primary m-2" (click)="reset()">RESET</button>
  </div>

</article>