.heading {
  background-color: #8daddb;
  color: black;
  padding: .2rem;
}

article{
  h6 {
    background-color: #8daddb;
    color: black;
    padding: .2rem;
    max-height: 28px;
  }
}


ul {
  list-style: none;
  padding: 0;
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
  .role {
    display: flex;
  }
}

.selected {
  background-color: #8daddb;
  color: white;
}