<app-path></app-path>
<article class="main-container text-center w-100">
  <div class="d-flex w-100 row m-0">
    <div class="mx-2 row mb-2">
      <article class="border p-0 col-2">
        <h6 style="border-bottom:1px solid;">CASE NUMBER</h6>
        <td>MASSI8</td>
      </article>
      <article class="border p-0 col-4">
        <h6 style="border-bottom:1px solid;">CASE NAME</h6>
        <td>ERICA HART</td>
      </article>
      <article class="border p-0 col-3">
        <h6 style="border-bottom:1px solid;">DISTRICT</h6>
        <td>ALBANY</td>
      </article> 
      <article class="border p-0 col-3">
        <h6 style="border-bottom:1px solid;">CASE TYPE</h6>
        <td>Medical Assistance</td>
      </article>
    </div>
    <div class="mx-2 row mt-2">
      <article class="border p-0 col-4">
        <h6 class="mb-0" style="border-bottom:1px solid;">SELECTED USER IDs TO INCLUDE IN ACCESS</h6>
        <div style="min-height: 300px;">
          <ul class="px-2">
            <li *ngFor="let user of users;let first = first;">
              <ng-container *ngIf="!first">
                <button class="transparent-btn" [ngClass]="itemExist(user) ? 'selected' : '' " (click)="selectUser(user)" >{{ user.name }}</button>
              </ng-container>
            </li>
          </ul>
        </div>
        <div class="d-flex border justify-content-center">
          <button type="button" class="btn btn-primary m-2" (click)="move()" >Include</button>
        </div>
      </article>
      <article class="border p-0 col-8">
        <h6 class="mb-0" style="border-bottom:1px solid;">LIST OF CURRENT USER IDs TO INCLUDE IN ACCESS</h6>
        <div style="min-height: 300px;">
          <ul class="p-0">
            <li class="row m-0 border py-2" *ngFor="let user of selectedUser; let i = index" >
              <div class="col-6">{{ user.name }}({{ user.code }})</div>
              <div class="col-6">
                <p-checkbox name="group col-2 m-0"  #checkboxes [(ngModel)]="user.remove" [binary]="true"[inputId]="user.code" (onChange)="removeUser($event,i)"></p-checkbox>
                <label [for]="user.code" class="ml-2 mb-0">Remove</label>
              </div>
            </li>
          </ul>
        </div>
        <div class="d-flex border justify-content-center">
          <button type="button" class="btn btn-primary m-2" (click)="removeUsersInBulk()" >Apply</button>
        </div>
      </article>
    </div>
  </div>
  <div>
    <span>Selection Function: </span>
    <button type="button" class="btn btn-primary m-2" >CONTINUE</button>
    <button type="button" class="btn btn-primary m-2" (click)="clearAll()">CLAER FORM</button>
  </div>
</article>