:host ::ng-deep .form-control{
  width: 11rem !important;
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 12%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}