<div class="spinner" *ngIf="loading$ | async">
    <p-progressSpinner></p-progressSpinner>
</div>
<p-toast></p-toast>
<app-header></app-header>
<section class="d-flex" class="main-body p-4" >
    <app-sub-header></app-sub-header>
    <router-outlet></router-outlet>
</section>