<p class="path">Path: 
  <span *ngFor="let item of path; let i = index">
      <a [routerLink]="getpath(i)"> {{ convertPathText(item) | uppercase}} </a> <span class="px-1" *ngIf="i != 0 && i != path.length-1"> > </span>
  </span>
</p>