.main-container{
  width: calc(100% - 12.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  .items-container {
    div{
      div{
        ul{
          button {
            cursor: pointer;
            border: 0px;
            background: transparent;
            outline: none;
            color: blue;
            padding: 0;
          }
          .child-level{
            list-style: none;
          }
        }
      }
    }
  }
}
.p-datatable {
  background: red;
}
p-table {
  background: red;
  .p-datatable-wrapper {
    padding: 0px;
  }
}
::ng-deep{
  @media print {
    .footer,app-path,p-paginator,app-header {display: none;}
   }
}
