<!-- <p class="path">Path: <a href=''> HOME </a> > <a href='/edr-reports'> I/EDR REPORTS </a> > <a
    href='/edr-reports'>PARAMETERS</a> > <span> {{ title | uppercase }} REPORT </span> </p> -->
<app-path></app-path>
<div id="reports-details">
  <article>
    <table class="d-flex">
      <div class="mx-2">
        <tr class="border">
          <th class="border p-2">DISTRICT</th>
          <td class="p-2">{{reportDetails.district.name}}</td>
        </tr>
        <tr class="border">
          <th class="border p-2">BEGIN DATE</th>
          <td class="p-2">{{reportDetails.startDate | date: 'MM/dd/yyyy'}}</td>
        </tr>
        <tr class="border">
          <th class="border p-2">END DATE</th>
          <td class="p-2">{{reportDetails.endDate | date: 'MM/dd/yyyy'}}</td>
        </tr>
      </div>
      <div class="mx-2">

        <tr class="border" *ngIf="reportDetails.userId && reportDetails.userId.code">
          <th class="border p-2">USER ID</th>
          <td class="p-2">{{reportDetails.userId.name}}</td>
        </tr>
        <tr class="border" *ngIf="reportDetails.eventType && reportDetails.eventType.code">
          <th class="border p-2">EVENT TYPE</th>
          <td class="p-2">{{reportDetails.eventType.name}}</td>
        </tr>
        <tr class="border">
          <th class="border p-2">ORDER BY</th>
          <td class="p-2">{{sortDetails.field | uppercase}}</td>
        </tr>
        <tr class="border">
          <th class="border p-2">SORT BY</th>
          <td class="p-2">{{sortDetails.order == '1' ? 'ASCENDING' : 'DESCENDING'}}</td>
        </tr>
      </div>
    </table>
  </article>
  <article class="main-container text-center w-100 mt-4">
    <section>
      <h4>{{this.title | titlecase}} Report</h4>
      <div class="table border">
        <p-table styleClass="report-table" [value]="allEventTypes" [paginator]="true" [rows]="rows"
          [showCurrentPageReport]="true" [(first)]="first" (onSort)="sortColumn($event)"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10,25,50]" id="excel-table">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="item" *ngFor="let item of keyData">
                {{item}} <p-sortIcon [field]="item"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-event>
            <tr>
              <td *ngFor="let item of keyData">{{event[item]}}</td>
            </tr>
          </ng-template>
        </p-table>
        <div class="mb-3 border-0 footer">
          <button type="button" class="btn btn-secondary mx-2" (click)="exportexcel()">EXPORT TO EXCEL</button>
          <button type="button" class="btn btn-secondary mx-2" (click)="printTest()">PRINT</button>
        </div>
      </div>
    </section>

  </article>
</div>