<app-path></app-path>
<section class="view-documents row m-0">

  <div class="col-4">
    <h5>OSS Scanning</h5>

    <article class="case-details">
      <div class="title d-flex justify-content-between">
        <span>Select Scan Type</span>
      </div>
      <div class="main-content">
        <p>Case Number: MASSIB</p>
        <p>Case Name: ERICA HART</p>
        <p>Case Type: Medical Assistance</p>
      </div>
    </article>
    <article class="case-details mt-1">
      <div class="title d-flex justify-content-between">
        <span>Enter Scan Details and Validate in WMS</span>
      </div>
      <div class="main-content">
        <div class="d-flex row m-1">
          <p class="col-7 p-0">Begin Date (mm/dd/yyyy):</p>
          <input class="col p-0" type="text" pInputText />
        </div>
        <div class="d-flex row m-1">
          <p class="col-7 p-0">End Date (mm/dd/yyyy):</p>
          <input class="col p-0" type="text" pInputText />
        </div>
      </div>
    </article>
  </div>
  <div class="col-8">
    <ng2-pdfjs-viewer *ngIf="showPdf" [pdfSrc]="pdfSrc"></ng2-pdfjs-viewer>
  </div>

</section>