<app-path></app-path>
<section class="d-flex flex-column align-items-center">
  <h5>OSS Reporting</h5>

  <ul>
    <li *ngFor="let item of reportingList">
      <a [routerLink]="item.path">{{item.name}}</a>
    </li>
  </ul>

</section>