<app-path></app-path>
<article class="main-container text-center w-100 row m-0 p-0">
  <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
  <p *ngIf="successMessage" class="text-success">{{successMessage}}</p>
  <aside class="border details col-md-10 offset-md-1 py-1">
    <section class="py-2 w-100 d-flex justify-content-around">
      <div class="d-flex align-items-center">
        <p class="text-left p-0 m-0">Start Date (mm/dd/yyyy): </p>
        <div class="p-0 ml-2">
          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="startDate">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <p class="text-left p-0 m-0">End Date (mm/dd/yyyy):</p>
        <div class="p-0 ml-2">
          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="endDate">
        </div>
      </div>
      <button type="button" class="btn btn-primary my-2" (click)="update()">Update</button>
    </section>
    <section class="d-flex row mb-2 p-2 mx-2">
      <div class="col-4 p-0">
        <h6>AUDITOR</h6>
        <div class="add-auditor border col-12 d-flex flex-column justify-content-between p-2">
          <p>Auditor ID: {{selectedAuditor.name}} </p>
          <aside>
            <div class="my-3">
              <label class="mx-3">Add/ Replace Auditor: </label>
              <input type="text" pInputText [(ngModel)]="auditorValue" />
            </div>
            <div>
              <button type="button" class="btn btn-primary m-2" (click)="caseAuditChanges('add')">ADD</button>
              <button type="button" class="btn btn-primary m-2" (click)="caseAuditChanges('replace')">REPLACE</button>
            </div>
          </aside>
        </div>
      </div>
      <div class="col-4 p-0">
        <h6 class="text-left">
          <span class="mr-2" (click)="selectAllCase()" >[ALL]</span>
          CASE ID LIST</h6>
        <div class="revoke-auditor border col-12 d-flex flex-column justify-content-between p-2">
          <aside class="row d-flex justify-content-center">
            <div class="field-checkbox col-8 m-0 my-1" *ngFor="let item of selectedAuditor.cases">
              <p-checkbox name="group col-2 m-0" [value]="item" [inputId]="item" (onChange)="selectCases($event,item)"></p-checkbox>
              <label [for]="item" class="col-6 m-0 text-left">{{item}}</label>
            </div>
          </aside>
          <aside>
            <button type="button" class="btn btn-primary m-2" (click)="caseAuditChanges('revoke')">REVOKE</button>
          </aside>
        </div>
      </div>
      <div class="col-4 p-0">
        <h6>ADD CASES</h6>
        <div class="add-cases border col-12 d-flex flex-column justify-content-between align-items-center p-2">
          <textarea pInputTextarea class="col-10" style="height:180px" [(ngModel)]="newCases"></textarea>
          <p class="text-danger">*separate cases with a comma</p>
          <aside>
            <button type="button" class="btn btn-primary m-2" (click)="caseAuditChanges('add-cases')">ADD CASES</button>
          </aside>
        </div>
      </div>
    </section>
  </aside>
  <div>
    <label class="mx-3">Select Function: </label>
    <button type="button" class="btn btn-primary my-2" (click)="back()">Back</button>
  </div>

</article>