<p-dropdown [options]="items" [(ngModel)]="selectedItem" optionLabel="name" [filter]="true" filterBy="name"
  [showClear]="false" placeholder="Select" (onChange)="getSelectedItem($event)">
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value" *ngIf="selectedItem">
      <div>{{selectedItem.name}}</div>
    </div>
  </ng-template>
  <ng-template let-country pTemplate="item">
    <div class="country-item">
      <div>{{country.name}}</div>
    </div>
  </ng-template>
</p-dropdown>