<article class="main-container text-center w-100" *ngIf="user">
  <h3>I/EDR Main Menu</h3>
  <div class="row m-2 w-100 menu-items-container">
    <div class="col-12 d-flex border p-3">
      <div class="col-4 text-left" *ngFor="let data of mainMenu">
        <h3>{{data.label}}</h3>
        <ul>
          <li *ngFor="let item of data.items"><button [attr.disabled]="citySelected() ? null : 'disabled' "
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}"
              [routerLink]="item.routerLink">{{item.label}}</button></li>
        </ul>
      </div>
    </div>
  </div> 

  <div class="row m-2 w-100">
    <h3>OSS Main Menu</h3>
    <div class="row m-2 w-100 menu-items-container">
      <div class="col-12 d-flex border p-3">
        <div class="col-4 text-left">
          <ul>
            <input #fileUpload style="display: none" type="file" name="scanFile" id="scanFile" (change)="onFileChange($event)" />
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="fileUpload.click()" 
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}">File Upload</button></li>
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="authService.openOSSAPP('/scanning')" 
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}">Scanning</button></li>
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="authService.openOSSAPP('/batch-retrieval')"
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}" >Indexing</button></li>
            <li><button [attr.disabled]="citySelected() ? null : 'disabled' " (click)="authService.openOSSAPP('/reporting')"
              [ngStyle]="citySelected() ? {color: 'blue'} : {color:'black'}" >Reporting</button></li>
          </ul>
        </div>
      </div>
    </div> 
  </div>

  <div>
    <p>You have statewide Access</p>
    <p>Please select the district in which you want to operate.</p>
    <div>
      <label class="mx-3">Select District</label>
      <app-dropdown [items]="districtArray" [selectedItem]="selectedCity" (getSelectedValue)="selectDistrict($event)"></app-dropdown>
    </div>
    <button type="button" class="btn btn-primary my-2" (click)="submit()">SELECT</button>
  </div>
</article>



