.main-container{
  width: calc(100% - 12.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  .menu-items-container {
    button {
      cursor: pointer;
      border: 0px;
      background: transparent;
      outline: none;
    }
  }
}
