.main-container{
    .catergory-details{
        border: 2px solid;
        height: 250px;

        .title{
            font-weight: bolder;
            background-color: rgb(0, 174, 255);
            text-align: left;
        }
      
    }
}