<app-path></app-path>
<article class="main-container text-center w-100">
    <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
    <section>
        <p>Please Enter Search Criteria By.</p>
        <div class="d-flex justify-content-center">
            <div *ngFor="let category of categories" class="field-checkbox mx-3">
                <p-radioButton [inputId]="category.key" name="category" [value]="category"
                    [(ngModel)]="selectedCategory" (ngModelChange)="categoryChange($event)"></p-radioButton>
                <label [for]="category.key" class="m-0 pl-2">{{category.name}}</label>
            </div>
        </div>
    </section>
    <section class="catergory-details mt-3">
        <div class="title pl-2">
            <p>{{selectedCategory.detailTitle}}</p>
        </div>

        <aside class="details d-flex justify-content-center align-items-center">
            <ng-container *ngIf="selectedCategory.key == 'case'">
                <div class="d-flex">
                    <label class="mx-3">Case: </label>
                    <input type="text" pInputText [(ngModel)]="searchCriteria.caseInfo.caseNumber" (ngModelChange)="onChangeEvent($event)" />
                </div>
                <div>
                    <label class="mx-3">District: </label>
                    <app-dropdown [items]="districtArray" [selectedItem]="selectedCity" (getSelectedValue)="selectDistrict($event)"></app-dropdown>
                </div>
            </ng-container>

            <ng-container *ngIf="selectedCategory.key == 'cin/ssn'">
                <div class="d-flex">
                    <label class="mx-3">CIN: </label>
                    <input type="text" pInputText [(ngModel)]="searchCriteria.clientInfo.cin" (ngModelChange)="onChangeEvent($event)"/>
                </div>
                <div>
                    <label class="mx-3"> -or- SSN: </label>
                    <input type="text" pInputText [(ngModel)]="searchCriteria.clientInfo.ssn" (ngModelChange)="onChangeEvent($event)"/>
                </div>
            </ng-container>

            <ng-container *ngIf="selectedCategory.key == 'application'">
                <div class="d-flex">
                    <label class="mx-3">Application: </label>
                    <input type="text" pInputText [(ngModel)]="searchCriteria.applicationInfo.application" (ngModelChange)="onChangeEvent($event)"/>
                </div>
            </ng-container>

            <ng-container *ngIf="selectedCategory.key == 'orphans'">
                <div class="d-flex justify-content-center">
                    <div *ngFor="let orphan of orphans" class="field-checkbox mx-3">
                        <p-radioButton [inputId]="orphan.value" name="orphan" [value]="orphan"
                            [(ngModel)]="selectedOrphan"></p-radioButton>
                        <label [for]="orphan.value" class="m-0 pl-2">{{orphan.name}}</label>
                    </div>
                </div>
            </ng-container>
        </aside>
    </section>
    <button type="button" class="btn my-2" [ngClass]="validate ? 'btn-primary' : 'btn-secondary disabled'" (click)="submit()" >CONTINUE</button>

</article>
